.tabela {
    width: 51%;
}

.centeredLeft {
    Font-size: 22px;
    Font-family: azonix;
    position: absolute;
    top: 50%;
    left: 71.15%;
    transform: translate(-50%, -50%);
}

.centeredRight {
    width: 16px;
    Font-size: 20px;
    Font-family: azonix;
    position: absolute;
    top: 45%;
    right: 73.5%;
    transform: translate(-50%, -50%);
    color: white;
}

.container {
    position: relative;
    text-align: center;
  }