.tabela {
    width: 51%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 71.15%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
  }